<app-navbar></app-navbar>


<div class="d-flex justify-content-center">
<div class="fluid-container justify-content-center">
<div class="card login-form">
  <div class="card-body">
    <h3 class="card-title text-center">Change password</h3>

    <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

    <div class="card-text">
      <form (ngSubmit)="changePassword()">
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <strong>Suggestion</strong>  Always use special characters and numbers to make your password strong.
          <a class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Your new password</label>
          <input
            [(ngModel)]="changeCredentials.password"
            required
            name="password"
            type="password"
            class="form-control form-control-sm"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Confirm password</label>
          <input
          [(ngModel)]="changeCredentials.repeatpassword"
            name="repeatpassword"
            type="password"
            class="form-control form-control-sm"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block submit-btn">
          Confirm
        </button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
